.work-Item {
  text-align: center;
  .img {
    width: 6rem;
    margin: auto;
    margin-bottom: 1rem;
  }
  img {
    width: 100%;
  }
}

.item {
  display: inline-block;
  padding: 10px;
}

.list {
  display: block !important;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
}

.slick-slide,
.slick-slide * {
  outline: none !important;
}

.slider-prev,
.slider-next {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.slider-prev:hover,
.slider-next:hover {
  background-color: #0056b3;
}
